
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(212, 236, 255); 
    color: #fff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease; 
  }
  
  
  header h1 {
    font-size: 24px; 
    margin: 0;
    text-transform: uppercase;
	background: linear-gradient(111.5deg, rgb(20, 100, 196) 0.4%, rgb(33, 152, 214) 100.2%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  
  header button {
    background: linear-gradient(111.5deg, rgb(20, 100, 196) 0.4%, rgb(33, 152, 214) 100.2%);
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
  }
  
 
 .bgImg{
    width: 40%;
    margin-left: auto;
 }

  header.headerNotFloating {
    position: static;
    background-color: transparent; 
    box-shadow: none;
    color: #000; 
    transition: background-color 0.3s ease; 
    box-shadow:
    0px 4px 6px rgba(63, 63, 63, 0.1), 
    0px 8px 15px rgba(70, 69, 69, 0.1), 
    0px 12px 25px rgba(172, 171, 171, 0.1);
  }
  